.wrap{
    position: sticky;
    top: 0;
    z-index: 5;
}

.wrapper{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: radial-gradient(circle at top left, #4a4a39, #3a3a2b 70%);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    inset: 0;
    font-weight: 500;
}

.wrapper::after{
    box-shadow: inset 0px 0px 15px #ffffff;
}

.listitem{
    list-style: none;
}

.list{
    display: flex;
    gap: 60px;
    font-size: var(--fs-nav);
}

.link{
    text-decoration: none;
    color: var(--font-color-200);
    cursor:pointer;
    transition: .2s ease-in;
    list-style-type: none;
    position: relative;
}

.list .link:after{
    content: "";
    position: absolute;
    background-color: #D7D7B5;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -4px;
    transition: .3s ease;
}

.list .link:hover{
    color: #D7D7B5;
}

.link:hover:after{
    width: 100%;
}

.list .listitem .link.active{
    color: #D7D7B5;
}
.list .listitem .link.active:after{
    width: 100%;
}

/* Ovo se dodaje ako je zadnji child KONTAKT forma? */
/* .listitem:last-child{
    display: none;
} */

.contact-button{
    cursor: pointer;
    border: 0;
    padding: 10px 16px;
    background: none;
    color: var(--font-color-200);
    border: 2px solid var(--font-color-200);
    border-radius: 8px;
    transition: .4s ease-in-out;
    font-weight: var(--fw-semi-bold);

}

.ishidden{
    display: block;
}

.contact-button:hover{
    color: white;
    border: 2px solid white;
}

.contact-button.active{
    color: var(--clr-accent-400);
    border: 2px solid var(--clr-accent-400);
}

.nav-icons{
    display: flex;
    gap: 20px;
    color: #4B9FE1
}

.nav-icon{
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.nav-icon.active{
    color: #FC5F2A;
}

.nav-icon:hover{
    color: #FC5F2A;
}

.logo{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--clr-neutral-100);
    cursor: pointer;
}

.mobile-toggle{
    display: none;
}

.mobile-nav-icons{
    display: none;
}

.kosarica{
    width: 45px;
    height: 45px;
}

@media (max-width: 768px){

    .wrapper{
        justify-content: space-between;
        padding: 0px 20px;
    }

    .contact-button{
        display: none;
    }

    .list{
        display: grid;
        text-align: center;
        gap: 50px;
    }

    .listitem:last-child{
        display: block;
    }

    .primary{
        display: none;
        position: absolute;
        background-color: #49493a;
        inset: 100px 0 0;
        padding: 40px;
        font-size: var(--fs-nav);
        z-index: 100;
        height: 100vh;
    }
    .primary.data-visible{
        display: block;
    }

    .mobile-toggle{
        display: inline-block;
        cursor: pointer;
    }

    .bar1, .bar2, .bar3{
        background-color: var(--clr-neutral-100);
        width: 30px;
        height: 3px;
        margin: 6px 0px;
        transition: .3s ease-out;
    }

    .mobile-toggle.change .bar1 {
        transform: translate(0, 9px) rotate(-45deg);
    }
    
    .mobile-toggle.change .bar2 {
        opacity: 0;
    }
    
    .mobile-toggle.change .bar3 {
        transform: translate(0px, -9px) rotate(45deg);
    }
    
    .ishidden{
        display: none;
    }

    .mobile-nav-icons{
        display: flex;
        gap: 20px;
        color: var(--font-color-200);
        align-items: center;
    }

    .kosarica{
        width: 30px;
        height: 30px;
        color: #4B9FE1;
    }
}